<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <system.web>
    <!-- Enable debugging and set compilation target -->
    <compilation debug="true" targetFramework="4.8" />
  </system.web>
  <system.serviceModel>
    <!-- Enable WCF services to be discoverable -->
    <services>
      <!-- PersonService -->
      <service name="SchoolManagement.Service.Services.PersonService">
        <endpoint address="" binding="basicHttpBinding" contract="SchoolManagement.Service.Contracts.IPersonService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- StudentService -->
      <service name="SchoolManagement.Service.Services.StudentService">
        <endpoint address="" binding="basicHttpBinding" contract="SchoolManagement.Service.Contracts.IStudentService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- TeacherService -->
      <service name="SchoolManagement.Service.Services.TeacherService">
        <endpoint address="" binding="basicHttpBinding" contract="SchoolManagement.Service.Contracts.ITeacherService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- ClassService -->
      <service name="SchoolManagement.Service.Services.ClassService">
        <endpoint address="" binding="basicHttpBinding" contract="SchoolManagement.Service.Contracts.IClassService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- EnrollmentService -->
      <service name="SchoolManagement.Service.Services.EnrollmentService">
        <endpoint address="" binding="basicHttpBinding" contract="SchoolManagement.Service.Contracts.IEnrollmentService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:57187/Services/EnrollmentService.svc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <!-- Enable metadata publishing -->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!-- Set default binding to basicHttpBinding -->
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfig">
          <!-- Optional: Configure binding settings -->
        </binding>
      </basicHttpBinding>
    </bindings>
    <!-- Enable protocol mapping to support web services -->
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>
    <!-- Set compatibility mode -->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <!-- Start up settings -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
