<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPersonService" />
                <binding name="BasicHttpBinding_IStudentService" />
                <binding name="BasicHttpBinding_ITeacherService" />
                <binding name="BasicHttpBinding_IClassService" />
                <binding name="BasicHttpBinding_IEnrollmentService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57187/Services/PersonService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonService"
                contract="PersonServiceReference.IPersonService" name="BasicHttpBinding_IPersonService" />
            <endpoint address="http://localhost:57187/Services/StudentService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStudentService"
                contract="StudentServiceReference.IStudentService" name="BasicHttpBinding_IStudentService" />
            <endpoint address="http://localhost:57187/Services/TeacherService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITeacherService"
                contract="TeacherServiceReference.ITeacherService" name="BasicHttpBinding_ITeacherService" />
            <endpoint address="http://localhost:57187/Services/ClassService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClassService"
                contract="ClassServiceReference.IClassService" name="BasicHttpBinding_IClassService" />
            <endpoint address="http://localhost:57187/Services/EnrollmentService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEnrollmentService"
                contract="EnrollmentServiceReference.IEnrollmentService" name="BasicHttpBinding_IEnrollmentService" />
        </client>
    </system.serviceModel>
</configuration>